* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(19, 78, 74, 1);
}

.content {
  display: flex;
   padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.text-content h1 {
  color: #fff;
  font-size: 72px;
  margin-bottom: 8px;
}

.text-content h2 {
  color: rgba(153, 246, 228, 1);
  font-size: 56px;
  margin-bottom: 24px;
}

.text-content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 28.8px;
}

.buttons {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.big-image {
  display: flex;
  gap: 40px;
   height: 100%;
}

.big-image > :nth-child(1) {
  align-self: flex-end;
}
